/* Add this to your CSS file */
/* .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  } */
  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
  body {
      font-family: "Lilita One", sans-serif;
  }
.modal {
    display: flex;
    flex-direction: row-reverse;
  }

  .modal-content {
    font-family: fantasy;
    width: 400px;
    opacity: 0.9;
    background: rgb(70, 70, 70);
    color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: 3px solid black;
    border-top: 0;
  }
  .modal-title {
    font-weight: bold;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    .hint {
    font-size: 14px;
    border: 2px solid black;
    border-radius: 8px;
    background: rgb(20 20 20);
    padding: 6px;
    }
  /* .hint-btn {
    background: rgb(10 10 10);
    color: white;
    height: 30px;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
  } */
  .hint-btn {
    /* font-family: "Lilita One", sans-serif; */
    font-family: fantasy;
    background: black;
    opacity: 1;
    color: white;
    /* font-size: 1.2rem; */
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    /* animation: pulsate-black 1.5s infinite ease-in-out; */
    box-shadow: 0 0 10px rgb(10 10 10);
  }

  .hint-btn:hover {
    transform: scale(1.1);
    background-color: rgb(23, 23, 23);
    box-shadow: 0 0 20px rgb(23, 23, 23);
  }

  .disabled {
    background-color: rgb(10 10 10);
    opacity: 0.7;
    pointer-events: none;
    cursor: not-allowed;
  }
  @keyframes pulsate-black {
    0% { transform: scale(1); box-shadow: 0 0 10px rgb(10 10 10) }
    50% { transform: scale(1.05); box-shadow: 0 0 20px rgb(23, 23, 23); }
    100% { transform: scale(1); box-shadow: 0 0 10px rgb(10 10 10) }
  }
